[data-md-color-scheme="default"] .decision-box {
  display: flex;
  align-items: center;
  border: 1px solid #eaecef;
  background-color: #f4f5f7;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

[data-md-color-scheme="default"] .decision-content p {
  margin: 0;
  font-size: 14px;
  color: #172b4d;
  padding-left: 0.3rem;
}

[data-md-color-scheme="slate"] .decision-box {
  display: flex;
  align-items: center;
  border: 1px solid #2c2f33;
  background-color: #2f3b45;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

[data-md-color-scheme="slate"] .decision-content p {
  margin: 0;
  font-size: 14px;
  color: #eaecef;
  padding-left: 0.3rem;
}
